body {
    font-family: Arial, sans-serif;
    background-color: rgb(224, 210, 163);
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgb(92, 147, 148);
    padding: 20px;
    height: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: center;
    color: #fff;
}
img {
    margin-right: 20px;
    max-width: 250px;
    position: absolute;
    top: 20px;
    left: 130px;
    transform: translateX(-50%);
}
.header h1 {
    margin: 0;
}
.container {
    display: flex;
    margin: 20px;
}


.sidebar {
    width: 40%;
    height: 100vh;
    background-color: rgb(139, 166, 147);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.update.button{
    color: rgb(92, 147, 148);
    padding: 10px 20px;
    font: 15px bold;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease;
    border: none;
    outline: none;
    -webkit-appearance: none;
    box-shadow: none;
}

.update.button:hover {
    transform: scale(1.05);
}
.sidebar h2 {
    color: #fff;
    font: 25px bold;
}
.content {
    display: flex;
    width: 100%;
}
.main {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    align-content: space-between;
}
.restaurant{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 800px;
    background-color: white;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}


.product-button{
    border-radius: 10px;
}
.product-button:hover {
    transform: scale(1.05);
}
.product-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.product h3 {
    margin: 10px 0;
    color: rgb(255, 255, 255);
}
.product p {
    margin: 0 0 10px;
    color: rgb(255, 255, 255);
}
.product .information {
    align-self: flex-end;
    color: rgb(255, 255, 255);

    font-weight: bold;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 20px;
    background: rgb(70, 96, 117);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.pagination a:hover {
    background: #43A047;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}
