body {
    font-family: Arial, sans-serif;
    background-color: rgb(224, 210, 163);
    margin: 0;
    padding: 0;
}
img {
    margin-right: 20px;
    max-width: 250px;
    position: absolute;
    top: 20px;
    left: 130px;
    transform: translateX(-50%);
}
.header {
    background-color: rgb(92, 147, 148);
    padding: 20px;
    height: 300px;
    text-align: center;
    color: #fff;
}
.header h1 {
    margin: 0;
}
.container {
    display: flex;
    margin: 20px;
}
.sidebar {
    width: 40%;
    height: 100vh;
    background-color: rgb(139, 166, 147);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.sidebar .update-button {
    background-color: rgb(92, 147, 148);
    color: #fff;
    padding: 10px 20px;
    font: 15px bold;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease;
    border: none;
    outline: none;
    -webkit-appearance: none;
    box-shadow: none;
}
.sidebar .update-button:hover {
    transform: scale(1.05);
}
.sidebar h2 {
    color: #fff;
    font: 25px bold;
}
.content {
    color: #f2f2f2;
    width: 200%;
    padding: 20px;
}
.content h2 {
    color: rgb(70, 96, 117)
}
.category {
    color: rgb(70, 96, 117);
    margin-bottom: 10px;
    font: 17px bold;
}
.category1 {
    color: #f2f2f2;
    margin-bottom: 10px;
    font: 15px bold;
}
.products {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}
.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 1%;
    background-color: rgb(139, 166, 147);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.product:hover {
    transform: scale(1.05);
}
.product-button-container {
    display: flex;
    right: 20px;
    gap: 10px;
}

.product-button {
    background-color: rgb(92, 147, 148);
    color: #fff;
    padding: 10px 20px;
    width: 100px;
    font: 15px bold;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease;
    border: none;
    outline: none;
    -webkit-appearance: none;
    box-shadow: none;
}

.product-button:hover {
    transform: scale(1.05);
}
.product-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.product h3 {
    margin: 10px 0;
    color: rgb(70, 96, 117);
}
.product p {
    margin: 0 0 10px;
}
.product .price {
    align-self: flex-end;
    color: rgb(70, 96, 117);
    font-weight: bold;
}
.button-container {
    position: fixed;
    bottom: 80px;
    width: 300px;
    gap: 10px;
    display: flex;
    justify-content: center;
    boarder-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.button {
    background-color: rgb(92, 147, 148);
    color: #fff;
    padding: 10px 20px;
    width: 120px;
    font: 15px bold;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease;
    border: none;
    outline: none;
    -webkit-appearance: none;
    box-shadow: none;
}
.button:hover {
    transform: scale(1.05);
}
.footer {
    background-color: rgb(92, 147, 148);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}